@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --color-text-white: #FFFFFF;
  --primaru-text-color: #212121;
  --title-text-color: #757575;
  --color-efective: #2F303A;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --fill-icon: #AFB1B8;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-text-white);
  color: var(--primaru-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  display: block;
}

.link {
  text-decoration: none;
  color: var(--primaru-text-color);
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("./font/roboto-v20-latin-regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("./font/raleway-v19-latin-regular.ttf");
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container {
  padding: 118px 60px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero .container {
    padding: 102px 220px;
  }
  .features .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .features .container {
    width: 1200px;
  }
}

.header {
  margin: 0 auto;
  border: 1px solid #ececec;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.logo_theme_light {
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  color: var(--primaru-text-color);
}

.logo__color {
  color: var(--accent-color);
}

.menu {
  display: none;
}

.contact {
  display: none;
}

.burger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.burger-btn:hover {
  fill: var(--accent-color);
  outline: none;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}

.mobile-menu__item:nth-child(-n+2) {
  margin-bottom: 32px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  overflow-y: scroll;
  -webkit-transform: translateY(-100%) translateX(-50%);
          transform: translateY(-100%) translateX(-50%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

.mobile-menu__list-contact {
  padding-top: 302px;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-open {
  -webkit-transform: translateY(0) translateX(-50%);
          transform: translateY(0) translateX(-50%);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.mobile-menu__close-btn:hover {
  fill: var(--accent-color);
  outline: none;
}

.mobile-menu__close-ikon {
  width: 40px;
  height: 40px;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primaru-text-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
  font-style: normal;
}

.mobile-menu__item:hover {
  color: var(--accent-color);
}

.mobile-menu__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__link-tel:hover, .mobile-menu__link-tel:focus {
  color: var(--accent-color);
}

.mobile-menu__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu__link-mail:hover {
  color: var(--accent-color);
}

.mobile-menu__item-contact:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link_color {
  color: var(--accent-color);
}

.mobile-menu__list-ikon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 48px;
}

.mobile-menu__link-ikon {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__link-ikon::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  display: block;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(180deg) translateX(-10px);
          transform: rotate(180deg) translateX(-10px);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: block;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .logo_theme_light {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .contact__link:hover .contact__icon,
  .contact__link:focus .contact__icon, .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .contact__icon {
    width: 14px;
    height: 10px;
    fill: var(--fill-icon);
    margin-right: 10px;
    -webkit-transition: fill var(--transition-duration) var(--timing-function);
    transition: fill var(--transition-duration) var(--timing-function);
  }
  .contact__icon_tel {
    width: 10px;
    height: 14px;
    fill: var(--fill-icon);
    margin-right: 10px;
    -webkit-transition: fill var(--transition-duration) var(--timing-function);
    transition: fill var(--transition-duration) var(--timing-function);
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primaru-text-color);
    -webkit-transition: color var(--transition-duration) var(--timing-function);
    transition: color var(--transition-duration) var(--timing-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_backlight {
    position: relative;
    color: var(--accent-color);
  }
  .menu__link_backlight {
    position: relative;
  }
  .menu__link_backlight::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .contact {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo_theme_light {
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--primaru-text-color);
  }
  .logo__color {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    -webkit-transition: color var(--transition-duration) var(--timing-function);
    transition: color var(--transition-duration) var(--timing-function);
  }
  .contact__link:hover .contact__icon,
  .contact__link:focus .contact__icon, .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

/*Подсвечивание страницы*/
/*Ховер и фокус емейла и телефона с иконками*/
.hero {
  background-color: #555555;
  margin-bottom: 29px;
  max-width: 100%;
  background-position: center;
  margin: 0 auto;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Foto-mobile/Hero/Header-img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Foto-mobile/Hero/Header-img.jpg");
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Foto-mobile/Hero/Header-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Foto-mobile/Hero/Header-img@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-white);
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--color-text-white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Foto-tablet/Hero/Header-img.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Foto-tablet/Hero/Header-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Foto-tablet/Hero/Header-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Foto-tablet/Hero/Header-img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__button {
    min-width: 200px;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--color-text-white);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Desktop/Hero/Img.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Desktop/Hero/Img.jpg");
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Desktop/Hero/Img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Desktop/Hero/Img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
  /*Кнопка "заказать услугу"*/
  .hero__button {
    min-width: 200px;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--color-text-white);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.features {
  padding-top: 58px;
  padding-bottom: 60px;
}

.features__list {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item {
  margin-bottom: 30px;
}

.features__container-icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primaru-text-color);
  text-align: center;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .features .container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features {
    padding-top: 60px;
  }
  .features__list {
    display: -webkit-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  .features__container-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 144px;
  }
  .features__title {
    text-align: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .features .container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 0;
  }
  .features {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .features__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaru-text-color);
  }
  .features__container-icon {
    padding: 25px 102px;
  }
}

@media screen and (max-width: 767px) {
  .about-programs {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-programs {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-programs {
    display: block;
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .about-programs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .about-programs__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primaru-text-color);
  }
  .about-programs__img {
    position: relative;
  }
  .about-programs__application {
    width: 100%;
    height: 70px;
    padding-top: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    background: rgba(47, 48, 58, 0.8);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .about-programs__item {
    position: relative;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.photo {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F5F4FA;
}

.photo__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.photo__img {
  width: 100%;
}

.photo__item {
  margin-bottom: 30px;
  background: var(--color-text-white);
}

.photo__box {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  height: 168px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.photo__profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.photo__title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaru-text-color);
}

@media screen and (min-width: 768px) {
  .photo__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photo__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .photo {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .photo__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
  .photo__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--fill-icon);
  height: 90px;
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  -webkit-transition: border var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
  transition: border var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
  fill: var(--accent-color);
}

.client__logo {
  width: 44px;
  height: 49px;
}

@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client__link {
    width: 170px;
  }
  .client__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .client__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--color-efective);
}

.footer__container {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__box-contact {
  padding-bottom: 60px;
  text-align: center;
}

.logo_theme_dark {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-text-white);
}

.footer__item {
  display: block;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link-info {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}

.footer__link-info:hover, .footer__link-info:focus {
  color: var(--accent-color);
}

.footer__adress-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* Иконки в подвале */
.footer__social {
  display: block;
  padding-bottom: 60px;
}

.footer__social-title {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__social-icon {
  fill: var(--color-text-white);
  width: 20px;
  height: 20px;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.footer__social-icon .footer__social-link:hover .footer__social-linkr:focus, .footer__social-icon:hover, .footer__social-icon:focus {
  fill: var(--color-text-white);
}

.subscription__text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-white);
}

.subscription__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-text-white);
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscription__email {
  padding-left: 16px;
  color: var(--color-text-white);
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.subscription-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social {
    margin-left: 165px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    max-width: 1200px;
  }
  .logo_theme_dark {
    margin-bottom: 50px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__social {
    display: block;
    padding-bottom: 0px;
    margin-left: 70px;
  }
  .footer__social-title {
    text-align: inherit;
  }
  .subscription__text {
    text-align: inherit;
  }
  .subscription {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscription__form {
    margin: 0;
  }
  .subscription__button {
    margin-left: 12px;
  }
  .subscription__email {
    width: 358px;
    margin-bottom: 0px;
  }
}

.ikon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ikon-list__link {
  fill: var(--fill-icon);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: background-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
}

.ikon-list__link:hover, .ikon-list__link:focus {
  background-color: var(--accent-color);
}

.ikon-list__link:hover, .ikon-list__link:focus {
  fill: var(--color-text-white);
}

.ikon-list__img {
  height: 20px;
  width: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--transition-duration) var(--timing-function);
  transition: var(--transition-duration) var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background: #ffffff;
  padding: 40px;
}

.button-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}

.button-close:hover, .button-close:focus {
  border-color: rgba(0, 0, 0, 0.1);
  color: var(--accent-color);
}

.button-close__icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100vw;
    max-width: 450px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.91;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primaru-text-color);
}

.modal__field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__icon {
  fill: var(--primaru-text-color);
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__wrapper {
  display: block;
  margin-top: 4px;
}

.modal__wrapper {
  position: relative;
}

.modal__message {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function);
}

.modal__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__form-chek {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__form-chek::before {
  margin-right: 7px;
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primaru-text-color);
  cursor: pointer;
}

.modal__form-term:checked + .modal__form-chek::before {
  background-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  border-radius: 2px;
  border-color: var(--accent-color);
  background-position: center;
}

.modal__form-term:focus + .modal__form-chek::before {
  -webkit-box-shadow: 0 0 0 2px #2196F3;
          box-shadow: 0 0 0 2px #2196F3;
}

.modal__contract-link {
  color: var(--accent-color);
}

.modal__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 50px;
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: 1px solid #188CE8;
  letter-spacing: 0.06em;
  padding: 10px 56px;
  color: #FFFFFF;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */