@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --color-text-white: #FFFFFF;
  --primaru-text-color: #212121;
  --title-text-color: #757575;
  --color-efective: #2F303A;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --fill-icon: #AFB1B8;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-text-white);
  color: var(--primaru-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.link {
  text-decoration: none;
  color: var(--primaru-text-color);
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("./font/roboto-v20-latin-regular.ttf");
}

@font-face {
  font-family: Raleway;
  src: url("./font/raleway-v19-latin-regular.ttf");
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container {
  padding: 118px 60px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero .container {
    padding: 102px 220px;
  }
  .features .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .features .container {
    width: 1200px;
  }
}

.header {
  margin: 0 auto;
  border: 1px solid #ececec;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.logo_theme_light {
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  color: var(--primaru-text-color);
}

.logo__color {
  color: var(--accent-color);
}

.menu {
  display: none;
}

.contact {
  display: none;
}

.burger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.burger-btn:hover {
  fill: var(--accent-color);
  outline: none;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}

.mobile-menu__item:nth-child(-n+2) {
  margin-bottom: 32px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;
  overflow-y: scroll;
  -webkit-transform: translateY(-100%) translateX(-50%);
          transform: translateY(-100%) translateX(-50%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

.mobile-menu__list-contact {
  padding-top: 302px;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-open {
  -webkit-transform: translateY(0) translateX(-50%);
          transform: translateY(0) translateX(-50%);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.mobile-menu__close-btn:hover {
  fill: var(--accent-color);
  outline: none;
}

.mobile-menu__close-ikon {
  width: 40px;
  height: 40px;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primaru-text-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
  font-style: normal;
}

.mobile-menu__item:hover {
  color: var(--accent-color);
}

.mobile-menu__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__link-tel:hover, .mobile-menu__link-tel:focus {
  color: var(--accent-color);
}

.mobile-menu__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu__link-mail:hover {
  color: var(--accent-color);
}

.mobile-menu__item-contact:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link_color {
  color: var(--accent-color);
}

.mobile-menu__list-ikon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 48px;
}

.mobile-menu__link-ikon {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__link-ikon::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  display: block;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(180deg) translateX(-10px);
          transform: rotate(180deg) translateX(-10px);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: block;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .logo_theme_light {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
  }
  .contact__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .contact__link:hover .contact__icon,
  .contact__link:focus .contact__icon, .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .contact__icon {
    width: 14px;
    height: 10px;
    fill: var(--fill-icon);
    margin-right: 10px;
    -webkit-transition: fill var(--transition-duration) var(--timing-function);
    transition: fill var(--transition-duration) var(--timing-function);
  }
  .contact__icon_tel {
    width: 10px;
    height: 14px;
    fill: var(--fill-icon);
    margin-right: 10px;
    -webkit-transition: fill var(--transition-duration) var(--timing-function);
    transition: fill var(--transition-duration) var(--timing-function);
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primaru-text-color);
    -webkit-transition: color var(--transition-duration) var(--timing-function);
    transition: color var(--transition-duration) var(--timing-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_backlight {
    position: relative;
    color: var(--accent-color);
  }
  .menu__link_backlight {
    position: relative;
  }
  .menu__link_backlight::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .contact {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo_theme_light {
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-iteration-count: 2;
            animation-iteration-count: 2;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--primaru-text-color);
  }
  .logo__color {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    -webkit-transition: color var(--transition-duration) var(--timing-function);
    transition: color var(--transition-duration) var(--timing-function);
  }
  .contact__link:hover .contact__icon,
  .contact__link:focus .contact__icon, .contact__link:hover, .contact__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

/*Подсвечивание страницы*/
/*Ховер и фокус емейла и телефона с иконками*/
@media screen and (max-width: 768px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  border: 1px solid transparent;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background: #F5F4FA;
  border-radius: 4px;
  color: var(--primaru-text-color);
  border: 1px solid #F5F4FA;
  -webkit-transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  /*Кнопка подсвечивания портфолио*/
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--color-text-white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-link {
  padding-top: 40px;
  padding-bottom: 60px;
}

.portfolio__box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__item {
  margin-top: 30px;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primaru-text-color);
}

.portfolio__rubric {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio__item {
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio-link {
  padding-top: 40px;
  padding-bottom: 60px;
}

.portfolio__box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio__item {
  margin-top: 30px;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primaru-text-color);
}

.portfolio__rubric {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.portfolio__item {
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--color-efective);
}

.footer__container {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__box-contact {
  padding-bottom: 60px;
  text-align: center;
}

.logo_theme_dark {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-text-white);
}

.footer__item {
  display: block;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__link-info {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}

.footer__link-info:hover, .footer__link-info:focus {
  color: var(--accent-color);
}

.footer__adress-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* Иконки в подвале */
.footer__social {
  display: block;
  padding-bottom: 60px;
}

.footer__social-title {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__social-icon {
  fill: var(--color-text-white);
  width: 20px;
  height: 20px;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.footer__social-icon .footer__social-link:hover .footer__social-linkr:focus, .footer__social-icon:hover, .footer__social-icon:focus {
  fill: var(--color-text-white);
}

.subscription__text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-white);
}

.subscription__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-text-white);
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscription__email {
  padding-left: 16px;
  color: var(--color-text-white);
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.subscription-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social {
    margin-left: 165px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    max-width: 1200px;
  }
  .logo_theme_dark {
    margin-bottom: 50px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__social {
    display: block;
    padding-bottom: 0px;
    margin-left: 70px;
  }
  .footer__social-title {
    text-align: inherit;
  }
  .subscription__text {
    text-align: inherit;
  }
  .subscription {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscription__form {
    margin: 0;
  }
  .subscription__button {
    margin-left: 12px;
  }
  .subscription__email {
    width: 358px;
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=portfolio.css.map */