.client {
    
    padding-bottom: 60px;
}

.client__title {
    margin-bottom: 30px;
    margin-top: 60px;
    font-style: normal;
    @include font(700, 28px, 1.17);
    
    text-align: center;
    letter-spacing: 0.03em;
}

    .client__list {

        display: flex;
        align-items: center;
        justify-content: center;
       
        flex-wrap: wrap;
        
        margin-left: -30px;
        margin-top: -30px;
    }
    .client__item{
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
      }        
           
       
         
    
    .client__link {

        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--fill-icon);
        width: 210px;
        height: 90px;
        border: 1px solid var(--fill-icon);
        border-radius: 4px;
        transition: border var(--transition-duration) var(--timing-function),
            fill var(--transition-duration) var(--timing-function);

    
        &:hover,
        &:focus {
            border: 1px solid #2196F3;
            fill: var(--accent-color);
        }
}

 .client__logo {
    width: 44px;
    height: 49px;


}
@media screen and (min-width: 768px){
     .client__item {
         flex-basis: calc(100% / 3 - 30px);
        
        }
        .client__link{
            width: 226px;
        }
}

@media screen and (min-width: 1200px){
.client__link {
    width: 170px;
}
.client__list{
    flex-wrap: nowrap;
}
.client__title{
    padding-top: 47px;
    margin-bottom: 50px;
    @include font(700, 36px, 1.17);
}
}









