

.features{
    padding-top: 58px;
    padding-bottom: 60px;
}
    
.features__list{
    display: block;
    justify-content: center;
    
}
.features__item{
    margin-bottom: 30px;
  
}
.features__container-icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
   background-color: #F5F4FA;
   border-radius: 4px;
   
    
}
.features__icon {
    width: 70px;
    height: 70px;

}
 .features__title {
     margin-bottom: 10px;
     @include font(700, 14px, 1.14);

     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--primaru-text-color);
     text-align: center;
 }


 .features__text {
     @include font(400, 14px, 1.7);

     letter-spacing: 0.03em;
     color: var(--title-text-color)
 }


@media screen and (min-width: 768px) {
    .features .container{
        width: 768px;
      
        display: flex;

    }
    .features{
          padding-top: 60px;
         
    }

    .features__list{
        display: -webkit-box;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -30px;
        align-items: center;
    }
    .features__item{
        
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
    
   .features__container-icon{
       display: flex;
    padding: 25px 144px;
    
}
.features__title {
    text-align: inherit;}
}

    
    





@media screen and (min-width: 1200px) {
    .features .container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 0;
    }

    .features {
        padding-top: 94px;
        padding-bottom: 47px;
    }


    .features__list {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    
.features__title {
        margin-bottom: 10px;
        @include font(700, 14px, 1.14);

        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primaru-text-color);
    }
    .features__container-icon{
        padding: 25px 102px;
    }
}
    




    



   




