.footer {

    
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--color-efective);
}

.footer__container {
    display: block;
    align-items: baseline;
    
}
.footer__box-contact{
    padding-bottom: 60px;
    text-align: center;
    
}

.logo_theme_dark{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--color-text-white);
 
 
}






.footer__item {
    display: block;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}



.footer__link-info {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  @include font(400, 14px, 1.7);
    
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.footer__adress-map {
    @include font(400, 14px, 1.7);
    
    letter-spacing: 0.03em;
    color: #FFFFFF;
}






/* Иконки в подвале */


.footer__social {
    display: block;
    padding-bottom: 60px;
    
}

.footer__social-title {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    @include font(700, 14px, 1.14); 
   
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social-item {
&:not(:last-child) {
    margin-right: 10px;
}
}


.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

}






.footer__social-icon {
    fill: var(--color-text-white);
    width: 20px;
    height: 20px;
    transition: fill var(--transition-duration) var(--timing-function);

    .footer__social-link:hover .footer__social-linkr:focus,
    &:hover,
    &:focus {

        fill: var(--color-text-white);
    }
}

.subscription__text {
    text-align: center;
    margin-bottom: 20px;
    @include font(700, 14px, 1.14);
    
   
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-text-white);
}

.subscription__button {
   
    @include font(700, 16px, 1.88);
    
    
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    justify-content: center;
    color: var(--color-text-white);

    width: 200px;
    height: 50px;
    background: var(--accent-color);
}

.subscription {
    margin-left: auto;
    display: flex;
    flex-direction: column;

}



.subscription__email {
    padding-left: 16px;
    color: var(--color-text-white);
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
}


.subscription-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
@media screen and (min-width: 768px){
    .footer__container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
    .footer__box-contact {
        margin-bottom: 60px;
        text-align: center;
        
    }
    .footer__social {
        

        margin-left: 165px;
    }
    .subscription__form{
        margin-left: 159px;
    }

}

@media screen and (min-width: 1200px){
    .footer .container{
        max-width: 1200px;

    }
    .logo_theme_dark{
        margin-bottom: 50px;
    }
  .footer__item:not(:last-child) {
      margin-bottom: 9px;}

      .footer__container{
       flex-wrap: nowrap;
      }
      .footer__social {
          display: block;
          padding-bottom: 0px;
          margin-left: 70px;
      }
      .footer__social-title{
          text-align: inherit;
      }
      .subscription__text{
          text-align: inherit;
      }
      .subscription{
          margin-left: auto;
          display: flex;
          flex-direction: column;
      }
      .subscription__form{
          margin: 0;
      }
      .subscription__button{
          margin-left: 12px;
      }
      .subscription__email{
          width: 358px;
          margin-bottom: 0px;
      }
}