 

   .hero{
   
    background-color: #555555;
    margin-bottom: 29px;
    max-width: 100%;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Foto-mobile/Hero/Header-img.jpg");
    background-repeat: no-repeat;
    
    
    
}
 @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx){
       .hero{
           background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
           url("../images/Foto-mobile/Hero/Header-img@2x.jpg");
       }
    }
  .hero__title{
     
     
    margin-bottom: 30px;
    @include font(900, 26px, 1.61);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-text-white);
   
  }



.hero__button{
    min-width: 200px;
    padding: 10px 32px;


    font-family: inherit;
    @include font(700, 16px, 1.87);
    
    border-radius: 4px;
    align-items: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--color-text-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}



    
@media screen and (min-width: 768px){

.hero{
    
    
    max-width: 768px;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Foto-tablet/Hero/Header-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   
    margin: 0 auto;
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .hero{
        background-image: url("../images/Foto-tablet/Hero/Header-img@2x.jpg");
    }
}

    .hero__button{
        min-width: 200px;
        padding: 10px 32px;
    
    
        font-family: inherit;
        @include font(700, 16px, 1.87);
        
        border-radius: 4px;
        align-items: center;
        letter-spacing: 0.06em;
        background: var(--accent-color);
        color: var(--color-text-white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    }
    
}


@media screen and (min-width: 1200px){
        .hero .container{
            padding-top: 200px; 
            padding-bottom: 200px;
        }
    .hero{
   
         
        max-width: 1600px;
        height: 600px;
        
       
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/Desktop/Hero/Img.jpg");
        background-repeat: no-repeat;
        text-align: center;
        
        margin: 0 auto;
        
    }
     @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx){
           .hero{
               background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
               url("../images/Desktop/Hero/Img@2x.jpg");
           }
        }

       .hero__title {

    
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    @include font(900, 44px, 1.36);
    }
       

   
    
    
     
    
 

/*Кнопка "заказать услугу"*/

.hero__button {

    min-width: 200px;
    padding: 10px 32px;


    font-family: inherit;
    @include font(700, 16px, 1.87);
    
    border-radius: 4px;
    align-items: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--color-text-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

}
