.filter {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filter__item {

    &:not(:last-child) {

        margin-right: 8px;
    }

}





.filter__button {
    border: 1px solid transparent;
    padding: 6px 22px;
    font-family: var(--main-font);
    @include font(500, 16px, 1.62);
    
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    background: #F5F4FA;
    border-radius: 4px;
    color: var(--primaru-text-color);
    border: 1px solid #F5F4FA;
    transition: background-color var(--transition-duration) var(--timing-function),
        color var(--transition-duration) var(--timing-function),
        box-shadow var(--transition-duration) var(--timing-function);

        /*Кнопка подсвечивания портфолио*/
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--color-text-white);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            border: 1px solid transparent;
        }

}


