.ikon-list {


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ikon-list__link {

    fill: var(--fill-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: background-color var(--transition-duration) var(--timing-function),
        fill var(--transition-duration) var(--timing-function);

        &:hover,
        &:focus {
            background-color: var(--accent-color);

        }
        &:hover,
        &:focus {
            fill: var(--color-text-white);
        }
}





.ikon-list__img {

    height: 20px;
    width: 20px;
}