.portfolio__wrapper {

    position: relative;
    overflow: hidden;

}

.portfolio__overlay {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    padding: 63px 24px;
    @include font(400, 18px, 1.55);
    


    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--timing-function);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0%);


    }

}


