body {
    font-family: var(--main-font);
    background-color: var(--color-text-white);
    color: var(--primaru-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: var(--primaru-text-color);

}

.list {
    list-style: none;
}

.address {
    font-style: normal;

}
@font-face{
    font-family: Roboto;
    src: url('./font/roboto-v20-latin-regular.ttf');
}
@font-face{
    font-family: Raleway;
    src: url('./font/raleway-v19-latin-regular.ttf');
}