:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
    --color-text-white: #FFFFFF;
    --primaru-text-color: #212121;
    --title-text-color: #757575;
    --color-efective: #2F303A;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
    --fill-icon: #AFB1B8;
}